@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "signoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.Name, "Index", "Home")
            </li>
            <li><a href="javascript:document.getElementById('signoutForm').submit()">Sign out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account")</li>
        <li>@Html.ActionLink("Sign up", "SignUp", "Account")</li>
    </ul>
}
