body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("../Images/bg-new.png")
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

.box{
    border:1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 1px;
}

.box-image{
    width: 100%;
}

.info-image{
    height: 400px;
    float: left;
    padding-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.cover-container{
    background-color: #222222;
    margin-top: 20px;
    height: 110%;
}

.info-container{
    background-color: white;
    margin-top: 20px;
    padding-bottom: 10px;
}

.reset{
    list-style: none;
}

.clear{
    clear: both;
}

.field-validation-error {
    color: #b94a48;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 1px solid #b94a48;
}
 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
 
.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}

.comment-img{
    width: 50px;
    height: 50px;
}

.comment-author{
    font-size: 15px;
    font-weight: bold;
    float: left;
}

.comment-time{
    color: #aaa;
    font-size: 11px;
    margin-top: 4px;
}

.comment-change{
    float: right;
    color: #aaa;
}

.comment-message-box{
    max-width:100% !important;
}

.btn-group-center{
    text-align: center;
}

.book-name{
    text-align: center;
    overflow: hidden;
    color: white;
}

.info-book-name{
    text-align: center;
}

#search-side-bar{
    height: 75px;
    margin-left: 2%; 
    width: 23%; 
    background-color: #222222; 
    margin-top: 20px;
    padding-top: 20px;
}

.search-input{
    background-color: #999999;
    color: white;
}

.search-input::-webkit-input-placeholder {
    color:#d8d8d8;
}
.search-input::-moz-placeholder{
    color:#d8d8d8;
}
.search-input:-moz-placeholder{
    color:#d8d8d8;
}
.search-input:-ms-input-placeholder{
    color:#d8d8d8;
}

.search-input:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white;
}

   