body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("../Images/bg-new.png")
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

.box{
    border:1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 1px;
}

.box-image{
    height: 350px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
}

.info-container{
    background-color: white;
    margin-top: 10px;
    padding-bottom: 10px;
}

.reset{
    list-style: none;
}

.clear{
    clear: both;
}

.field-validation-error {
    color: #b94a48;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 1px solid #b94a48;
}
 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
 
.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}


.comment-img{
    width: 50px;
    height: 50px;
}


.comment-author{
    font-size: 15px;
    font-weight: bold;
    float: left;
}

.comment-time{
    color: #aaa;
    font-size: 11px;
    margin-top: 4px;
}

.comment-change{
    float: right;
    color: #aaa;
}


.comment-message-box{
    max-width:100% !important;
}

.btn-group-center{
    text-align: center;
}
   