@model MVCPL.Models.BookPaginationViewModel
@{
    ViewBag.Title = "Search";
}

@section Body{
    @{ 
        if (Model.Books.Count() == 0)
        {
            <h2>Your search returned no results.</h2>
        }
        else
        {
            @Html.Partial("_Books", Model)
        }
    }
}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/pagination.js")"></script>
}
