@section Body{
@using MVCPL.Infrastructure.Helpers
@model MVCPL.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

    @*<div class="row"> СДЕЛАТЬ СТРОЧНЫЙ ХЕЛПЕР
        <div class="col-lg-9 box">
            <div>
                <h1>Getting started</h1>
                <img src="http://static3.anidub.com/online/poster/6e5f596c83.jpg" class="img-rounded box-image" />
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="clear"></div>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>*@

    @foreach (var item in Model.Books)
    {
        @Html.ShowBook(item);
    }

    <div class="clear"></div>
    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, number => Url.Action("Index", new { page = number }))
    </div>
}